{% assign productDescription = product.description | split:"<!-- split -->"%}

<div class="product-center product clearfix">
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <link itemprop="url" href="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="availability" content="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}" />
    <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
    <meta itemprop="price" content="{{ product.price | divided_by: 100.00 }}" />

    <h2 class="name {% if settings.reviews_enable == false %}no-review{% endif %}">{{product.title}}</h2>
    {% if settings.product_info_brand %}
    <div class="vendor">{{product.vendor | link_to_vendor}}</div>
    {% endif %}

    {%- comment -%} WISHLIT COMPARE QUESTIONS SIZECHART{%- endcomment -%}
        {%- if settings.wishlist_enable or settings.compare_enable or settings.product_size_chart -%}
        <div class="links clearfix">
          {%- if settings.wishlist_enable -%}
          <div class="ex-link">
            {%- assign my_product = product -%}
            {%- include 'wishlist' -%}
          </div>
          {%- endif -%}
          {%- if settings.compare_enable -%}
          <div class="ex-link">
            {%- assign my_product = product -%}
            {%- include 'compare' with true -%}
          </div>
          {%- endif -%}
          {%- if settings.product_size_chart and settings.product_size_chart_page != '' -%}
          <div class="ex-link">
            <a data-_qid="#quickview-btn-{{- product.id -}}" class="button-product-sizechart"  href="javascript:void(0)" data-sizechart="#popup-product-sizechart">{{'products.product.size_chart' | t}}</a>
          </div>
          {%- endif -%}
        </div>
        {%- endif -%}

    {%- include "afterpay" -%}
    
<!--  	{%- if product.available -%}<script src="https://widgets.shophumm.com.au/content/scripts/price-info.js?productPrice={{product.selected_or_first_available_variant.price | divided_by: 100.00}}"></script>{% endif %}
 -->
    {%- comment -%} PRICE {%- endcomment -%}
    {%- if settings.price_range and product.price_varies -%}
      <div class="price-range price">
        <span class="price-new"><span class="money">{{- product.price_min | money -}}</span></span> - <span class="price-new"><span class="money">{{- product.price_max | money -}}</span></span>
      </div>
      {%- endif -%}
      <div class="product-single__price-{{- section.id -}}">
        <div id="price" class="price">

          {%- if current_variant.compare_at_price > current_variant.price -%}
          <div class="d-inline-block">
          <span id="ProductPrice-{{- section.id -}}" class="amount price-new">
            <span class="money">
              {{- current_variant.price | money -}}
            </span>
          </span>
          </div>
          {%- else -%}
          <div class="d-inline-block">
          <span id="ProductPrice-{{- section.id -}}" class="amount price-new">
            <span class="money">{{- current_variant.price | money -}}</span>
          </span>
          {%- endif -%}

          <div class="d-inline-block">
          <span id="ComparePrice-{{- section.id -}}" class="amount price-old{%- unless current_variant.compare_at_price > current_variant.price %}{{- " hide" -}}{%- endunless -%}">
            <span class="money">
              {%- if current_variant.compare_at_price > current_variant.price -%}
              {{- current_variant.compare_at_price | money -}}
              {%- endif -%}
            </span>
          </span>
          </div>

        </div>
      </div>
     </div>

    {%- comment -%} SHORT DESCRIPTION {%- endcomment -%}
    <div class="short-description">{{ productDescription | first }}</div>

    {%- comment -%}
    <div class="review">
      {%- if settings.reviews_enable -%}
      <a class="smoothscroll" href="#product-reviews-a">
        <span class="shopify-product-reviews-badge" data-id="{{product.id}}"></span>
      </a>
      {%- endif -%}
      {%- if settings.product_social_share and settings.product_design != "compact2" -%}
      <div class="share">
        {%- include "add-this" -%}
      </div>
      {%- endif -%}
    </div>
   	{%- endcomment -%}

    {%- comment -%}  INFO AND STOCK  {%- endcomment -%}
    {% if settings.product_info_sku or settings.product_info_status %}
    <div class="description {%- if settings.product_info_status == false and settings.product_info_brand == false and settings.product_info_sku == false -%}{{- " hide" -}}{%- endif -%}">
      <p id="product_sku" class="variant-sku sku_wrapper{%- if current_variant.sku == blank or settings.product_info_sku == false-%}{{- " hide" -}}{%- endif -%}">
		<span>{{'products.product.sku' | t}}</span>
        <span class="sku" itemprop="sku">{{ current_variant.sku }}</span>
      </p>
      <p class="variation-availability{%- if settings.product_info_status == false -%}{{- " hide" -}}{%- endif -%}">
        <span>{{- 'products.product.stock' | t}}</span>
        {%- if current_variant -%}
        {%- if current_variant.available -%}
        {%- if current_variant.inventory_management == "shopify" and current_variant.inventory_policy != "continue" -%}
        {%- if current_variant.inventory_quantity > 0 -%}
        <span class="stock stock-{{ section.id }} in-stock">{%- if settings.product_inventory == '1' -%}{{- current_variant.inventory_quantity  -}}{{- " " -}}{%- endif -%}{{ 'products.product.in_stock' | t | escape }}</span>
        {%- else -%}
        <span class="stock stock-{{ section.id }} out-of-stock">{{ 'products.product.out_of_stock' | t | escape }}</span>
        {%- endif -%}
        {%- else -%}
        <span class="stock stock-{{ section.id }} in-stock">{{ 'products.product.in_stock' | t | escape }}</span>
        {%- endif -%}
        {%- else -%}
        <span class="stock stock-{{ section.id }} out-of-stock">{{ 'products.product.out_of_stock' | t | escape }}</span>
        {%- endif -%}
        {%- else -%}
        <span class="stock stock-{{ section.id }} out-of-stock">{{ 'products.product.unavailable' | t | escape }}</span>
        {%- endif -%}
      </p>
    </div>
    {% endif %}
    {%- comment -%} PRICE {%- endcomment -%}
    <div class="countdown-wrapper">
      {%- include 'limited-offer' -%}
    </div>
    <div class="product-focus">

      {%- comment -%} QUANTITY AND ADD TO CART {%- endcomment -%}
      <div id="product">
        {%- if product.available -%}
        {%- form 'product', product, id: "product-form", class: "product-form variations_form cart", data-product-id: product.id -%}
        <div class="options{% if product.variants.size <= 1 %} none{% endif %}{%- if instructions.external_link != blank and instructions.external_btn != blank -%}{{- " hide" -}}{%- endif -%}">
          <div class="options2">
    		{%- unless product.options.size == 1 and product.variants.size == 1 -%}
            <div id="variations-{{section.id}}" class="variations">
              <div id="variations-content-{{section.id}}">
                {%- for option in product.options_with_values -%}
                <div class="selector-wrapper{{- " " -}}{{- option.name | handlezie -}}{{- " " -}}variation-select-{{ section.id }}-{{ forloop.index0 }}">
                  <label {% if option.name == 'default' %} class="hide"{% endif %} for="single-option-selector-{{ forloop.index0 }}">{{- option.name -}}{%- if settings.product_swatch_color_advanced -%}:<span class="option-select-value" id="option-select-value-{{ section.id }}-{{ forloop.index0 }}">{{- option.selected_value -}}</span>{%- endif -%}</label>
                  <select id="single-option-selector-{{ section.id }}-{{ forloop.index0 }}" class="single-option-selector single-option-selector-{{ section.id }}" data-index="option{{ forloop.index }}" data-option="option{{ forloop.index }}">
                    {%- for value in option.values -%}
                    <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                    {%- endfor -%}
                  </select>
                </div>
                {%- endfor -%}
              </div>
            </div>
            {%- endunless -%}
            <div id="product-variants" class="hide">
              <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="variation-select no-js">
                {%- for variant in product.variants -%}
                {%- if variant.available -%}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                  {{- variant.title -}}
                </option>
                {%- else -%}
                <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t | escape }}</option>
                {%- endif -%}
                {%- endfor -%}
              </select>
            </div>
          </div>
        </div>
        <div class="cart">
          <div class="add_to_cart clearfix ">
            <div class="variations_button {%- unless current_variant -%}{{" hide"}}{%- endunless -%}{%- if instructions.external_link != blank and instructions.external_btn != blank -%}{{- " hide" -}}{%- endif -%}">
              <div class="add-cart-wrapper">
                <div class="quantity-wrapper">
                  <div class="quantity">
                    <input type="text" name="quantity" class="quantity-cart-{{product.id}}" id="quantity_wanted" size="2" value="1" />
                    <a href="javascript:void(0);" class="q_up" data-product_id="{{product.id}}" id="q_up"><i class="fal fa-plus"></i></a>
                    <a href="javascript:void(0);" class="q_down" data-product_id="{{product.id}}" id="q_down"><i class="fal fa-minus"></i></a>
                  </div>
                </div>
                <input type="submit" value="{%- unless current_variant.available -%}{{- 'products.product.sold_out' | t | escape -}}{%- else -%}{{- 'products.product.add_to_cart' | t | escape-}}{%- endunless -%}"
                       id="AddToCart-{{ section.id }}"
                       class="button button-cart not-empty add-to-cart{%- unless current_variant -%}{{- " hide" -}}{%- endunless -%}"
                       {%- unless current_variant.available -%}{{- " " -}}disabled="disabled"{{- " " -}}{%- endunless -%}
                       data-loading-text="{{'products.product.loading' | t | escape}}"
                       data-addtocart="{{'products.product.add_to_cart' | t | escape}}"
                       data-unavailable="{{'products.product.unavailable' | t | escape}}"
                       data-soldout="{{'products.product.sold_out' | t | escape}}" />
              </div>

              {%- if settings.dynamic_checkout -%}
              {%- if settings.cart_terms_enable -%}
              {%- assign terms_conditions_url = '#' -%}

              {%- if settings.cart_terms_page != blank -%}
              {%- assign terms_conditions_url = '/pages/' | append: settings.cart_terms_page -%}
              {%- endif -%}
              <div class="product-cart__condition">
                <input type="checkbox" id="product-cart__agree-{{ section.id }}" data-message="{{ 'cart.general.terms_conditions_message' | t | escape }}" />
                <label for="product-cart__agree-{{ section.id }}">{{ 'cart.general.terms_conditions_html' | t : terms_conditions_url: terms_conditions_url }}</label>
              </div>
              {%- endif -%}
              <div class="dynamic-payment-button" id="product-buy__1click-{{ section.id }}">
                {{- form | payment_button -}}
              </div>
              {%- endif -%}
            </div>
            {%- if instructions.external_link != blank and instructions.external_btn != blank -%}
            {%- include 'product-external-btn' -%}
            {%- endif -%}
            <div class="clearfix"></div>

          </div>
        </div>
        {%- endform -%}
        {%- else -%}
        <div class="cart">
          <div class="add_to_cart clearfix">
            {%- if instructions.external_link != blank and instructions.external_btn != blank -%}
            <div class="hide">
              {%- endif -%}
              <div class="add-cart-wrapper">
                <input type="button" value="{{'products.product.sold_out' | t | escape}}" id="button-cart" data-loading-text="{{'products.product.loading' | t | escape}}" class="button button-cart button-cart-sold-out" disabled/>
              </div>
              {%- if instructions.external_link != blank and instructions.external_btn != blank -%}
            </div>
            {%- include 'product-external-btn' -%}
            {%- endif -%}
            <div class="clearfix"></div>

          </div>
        </div>
        {%- endif -%}

      </div>
    </div>
    {%- if instructions.trust_sale_img != blank -%}
    <div class="trust-sale-img">
      <img src="{{- instructions.trust_sale_img | file_img_url : "master" -}}">
    </div>
      {%- endif -%}
    {%- include 'product-question' -%}
    {%- include 'product-sizechart' -%}
  </div>
</div>
