<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script> -->
{% assign my_description =  pages['test'].content  | split: '<!-- split -->'  %}

<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 px-0" style="background-color:#f8f8f8">
    <div class="accordion">
      
      <div class="accordion-item">
        <a>{{'products.product.details' | t}}</a>
        <div class="content">
          {{ productDescription | last }}
        </div>
      </div>

      {%- if product.metafields.care.product != blank -%}
      <div class="accordion-item">
        <a>{{'products.product.care' | t}}</a>
        <div class="content">
          {{ product.metafields.care.product }}
        </div>
      </div>
      {%- endif -%}

        <div id="returnsMessage" class="accordion-item">
          <a>{{'products.product.returns' | t}}</a>
          	<modal></modal>
      	</div>

    </div>

  </div>
</div>

{% comment %}
              <!-- Trigger/Open The Modal -->
              <button id="evergreenBtn" class="button-product-info-1">More Info</button>

              <!-- The Modal -->
              <div id="evergreenModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  {{ pages['shipping'].content }}
                </div>
              </div>
{% endcomment %}

<!-- <script>
  
  Vue.component('modal', {
    template: `

        <div class="content">
          <h5>Returning Items</h5>
			<p>We will happily offer a credit voucher or refund on any full priced purchase returned to us within 14 days of delivery.</p>
			<a href="/pages/returns" target="_blank" class="one button btn-default button-product-info-1">{{'products.question.title' | t}}</a>

          <h5>Shipping</h5>
			<p>In most cases, orders are shipped within 1-2 business days of the order being placed by you online.</p>
			<a href="/pages/shipping" target="_blank" class="one button btn-default button-product-info-1">{{'products.question.title' | t}}</a>

          <h5>Freight Costs</h5>
			<p>We charge a flat rate of $10 for all orders under $150. On orders over this value we offer free shipping.</p>

          <h5>Delivery</h5>
			<p>Delivery times will vary depending on your location.</p>

`
  
  });
  
  new Vue({
    el: '#returnsMessage'
  }); 
  
  // Get the modal
  const modal = document.getElementById("evergreenModal");

  // Get the button that opens the modal
  const btn = document.getElementById("evergreenBtn");

  // Get the <span> element that closes the modal
  const span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal 
  btn.onclick = function() {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  
</script> -->


<style>
  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index:25;
   
}

/* Modal Content */
.modal-content {
  background-color: #f8f8f8;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* The Close Button */
.close {
  color: #2b2d2f;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
  
.close:hover,
.close:focus {
  color: #d6d7d1;
  text-decoration: none;
  cursor: pointer;
}

  
.button-product-info-1 {
    margin: 0px;
    padding: 10px !important;
    width: max-content;
    clear: left;
    font-family: "brandon_grotesquelight", sans-serif;
    color: #2b2d2f !important;
    font-size: 11px;
    line-height: 1.6;
    font-weight: 600;
    text-transform: uppercase;
    background: #d6d7d1;
    border: 1px solid #d6d7d1;
    border: none;
}

a.one:link {
  color: #2b2d2f !important;
  font-size: 11px;
  line-height: 1.6;
  font-weight: 600;
  text-transform: uppercase;
  background: #d6d7d1;
  border: 1px solid #d6d7d1;
  border: none;
}
a.one:visited {
  color: #2b2d2f !important;
  font-size: 11px;
  line-height: 1.6;
  font-weight: 600;
  text-transform: uppercase;
  background: #d6d7d1;
  border: 1px solid #d6d7d1;
  border: none;

}
a.one:hover {
  font-family: "brandon_grotesquelight", sans-serif;
  color: #2b2d2f !important;
  font-size: 11px;
  line-height: 1.6;
  font-weight: 600;
  text-transform: uppercase;
  background: #d6d7d1;
  border: 1px solid #d6d7d1;
  border: none;

}
a.one::after {
  display: none;
  border: none;
}
  </style>