<div id="content" class="col-md-12 center-column content-with-background text-center">
  <div class="row">
    <div class="col-sm-12">
      {{page.content}}

      {%- form 'contact' -%}
      {%- if form.posted_successfully? -%}
      <div class="success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{'contact.form.post_success' | t}}
      </div>
      {%- endif -%}

      {%- if form.errors -%}
      <div class="warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{form.errors | default_errors}}
      </div>
      {%- endif -%}
      <fieldset class="form-horizontal mt-20">
        <div class="form-group required">
          <div class="col-sm-12">
            <input required="required" placeholder="{{'contact.form.name' | t}}" type="text" id="name" class="form-control" value="{%- if form.name -%}{{form.name}}{%- elsif customer -%}{{customer.first_name}} {{customer.last_name}}{%- endif -%}" name="contact[name]" />
          </div>
        </div>
        <div class="form-group required">
          <div class="col-sm-12">
            <input required="required" placeholder="{{'contact.form.email' | t}}" type="email" id="email" class="form-control" value="{%- if form.email -%}{{form.email}}{%- elsif customer -%}{{customer.email}}{%- endif -%}" name="contact[email]" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" id="phone" placeholder="{{'contact.form.phone' | t}}" class="form-control" value="{{form.phone}}" name="contact[phone]" />
          </div>
        </div>
        <div class="form-group required">
          <div class="col-sm-12">
            <textarea required="required" id="message" placeholder="{{'contact.form.message' | t}}" rows="10" class="form-control" name="contact[body]">{{form.body}}</textarea>
          </div>
        </div>
      </fieldset>
      <div class="buttons">
        <div class="text-center">
          <input class="btn btn-primary" type="submit" value="{{'contact.form.submit' | t}}" />
        </div>
      </div>
      {%- endform -%}
    </div>
  </div>
</div>